---
layout: base
---
<div class="m-auto pl-4 body">
{% for author in collections.author %}
{% include header.liquid %}
{% endfor %}
  <div class="mt-4 mr-2 page1">
    <section class="mx-1">
      <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
        <h2 class="text-lg text-teal-900 font-light font-mono">Experience</h2>
        <i class="fas fa-laptop-code text-teal-700"></i>
      </div>
      <div class="my-2">
        <ul class="entrylist">
        {% for exp in collections.experience reversed %}
          {% assign institute = exp.data %}
          {% assign notes = exp.templateContent %}
          {% include entryitem.liquid %}
        {% endfor %}
        </ul>
      </div>
    </section>

    <section class="mx-1">
      <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
        <h2 class="text-lg text-teal-900 font-light font-mono">Education</h2>
        <i class="fas fa-book-open text-teal-700"></i>
      </div>
      <div class="my-2">
        <ul class="entrylist">
        {% for edu in collections.education reversed %}
          {% assign institute = edu.data %}
          {% assign notes = edu.templateContent %}
          {% include entryitem.liquid %}
        {% endfor %}
        </ul>
      </div>
    </section>
  </div>
  {% include sidebar.liquid %}
  <footer>
    <div class="h-full flex flex-wrap justify-center content-end">
      <div class="text-xs text-gray-700 italic">updated on: {% version %}</div>
    </div>
  </footer>
</div>
<div class="mx-auto body">
  <div class="mr-2 page2 py-4">
    <section class="mx-4">
      <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
        <h2 class="text-lg text-teal-900 font-light font-mono">Peer-reviewed Scientific Publications</h2>
        <i class="fas fa-atom text-teal-700"></i>
      </div>
      <div class="mx-6 mt-2">
        <ul class="list-disc list-outside">
        {% for pub in collections.publications reversed %}
          {% assign pubData = pub.data %}
          {% include pub.liquid %}
        {% endfor %}
        </ul>
      </div>
    </section>
    <section class="mt-1 mx-4">
      <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
        <h2 class="text-lg text-teal-900 font-light font-mono">Invited Talks</h2>
        <i class="fas fa-play text-teal-700"></i>
      </div>
      <div class="mx-6 mt-2">
        <ul class="list-outside">
        {% for talk in collections.talks reversed %}
          {% assign talkData = talk.data %}
          {% include talk.liquid %}
        {% endfor %}
        </ul>
      </div>
    </section>
  </div>
</div>
