---
layout: base
---
<section class="mx-1">
  <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
    <h2 class="text-lg text-teal-900 font-light font-mono">Experience</h2>
    <i class="fas fa-laptop-code text-teal-700"></i>
  </div>
  <div class="my-2">
    <ul class="entrylist">
    {% for exp in collections.experience reversed %}
      {% assign institute = exp.data %}
      {% assign notes = exp.templateContent %}
      {% include entryitem.liquid %}
    {% endfor %}
    </ul>
  </div>
</section>

<section class="mx-1">
  <div class="pb-2 border-gray-300 border-b-2 flex flex-row justify-between items-center">
    <h2 class="text-lg text-teal-900 font-light font-mono">Education</h2>
    <i class="fas fa-book-open text-teal-700"></i>
  </div>
  <div class="my-2">
    <ul class="entrylist">
    {% for edu in collections.education reversed %}
      {% assign institute = edu.data %}
      {% assign notes = edu.templateContent %}
      {% include entryitem.liquid %}
    {% endfor %}
    </ul>
  </div>
</section>
